{"adux1050_0.custom.config":{"owner":"sns_adux1050","version":{"type":"flt","ver":"2","data":"2.000000"},"reg_06":{"type":"flt","ver":"3","data":"6466.000000"},"reg_09":{"type":"flt","ver":"3","data":"12032.000000"},"reg_0A":{"type":"flt","ver":"3","data":"33024.000000"},"reg_79":{"type":"flt","ver":"3","data":"20651.000000"},"reg_0B":{"type":"flt","ver":"3","data":"6436.000000"},"reg_0E":{"type":"flt","ver":"3","data":"39.000000"},"reg_0F":{"type":"flt","ver":"3","data":"1536.000000"},"reg_7A":{"type":"flt","ver":"3","data":"19954.000000"}}}